**/*~
**/\#*
**/.DS_Store
doc/out/*
/bin
/target/cs/bin
/target/js/bin/b3-js.dtr
/target/js/bin/b3.js
/target/js/bin/bignumber.js
test/**/Output
/.vscode
/test/.lit_test_times.txt
/doc/refman/_build
/target/java/bin
/target/cs/test
